* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  background-color: #E5E5E5;
  max-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1830px;
  min-width: 1380px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 27px;
}

.logo__img {
  width: 97px;
}

.nav {
  margin-left: -685px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  padding-left: 27px;
  padding-right: 27px;
}

.nav__item:first-child {
  padding-left: 0px;
}

.nav__item:last-child {
  padding-right: 0px;
}

.nav__link {
  font-size: 18px;
  color: #2B3541;
  line-height: 200%;
  border-bottom: 1px solid transparent;
}

.nav__link:hover {
  border-bottom: 1px solid #2B3541;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.social {
  position: relative;
}

.social__link {
  padding-left: 0px;
  padding-right: 60px;
}

.social__link:first-child {
  padding-left: 0px;
}

.social__link:last-child {
  padding-right: 44px;
  color: #2B3541;
}

.social__imeg {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.8;
}

.social__imeg:hover {
  width: 38px;
  height: 38px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}

.online__container {
  max-width: 1325px;
  margin: 0 auto;
}

.online__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.online__title {
  width: 676px;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  margin-top: 220px;
  margin-left: 85px;
  position: relative;
  z-index: 4;
}

.online__subtitle {
  font-size: 40px;
  line-height: 125%;
  color: #2B3541;
  margin-top: 46px;
  margin-left: 84px;
}

.online__span {
  display: inline-block;
  margin-left: 10px;
  font-size: 40px;
  line-height: 125%;
  color: #2B3541;
  position: relative;
  z-index: 4;
}

.online__description {
  width: 466px;
  font-size: 18px;
  line-height: 150%;
  color: #2B3541;
  padding-top: 20px;
  padding-left: 175px;
  position: relative;
  z-index: 4;
}

.online__button {
  height: 64px;
  width: 253px;
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2B3541;
  margin-top: 35px;
  margin-left: 175px;
  background-color: #FBF138;
  position: relative;
  z-index: 4;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.online__button:active {
  background-color: #2B3541;
  -webkit-box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
          box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
  color: #FBF138;
}

.online__arrov {
  margin-top: 182px;
  padding-left: 174px;
}

.online__image {
  margin-top: -3px;
  margin-left: -345px;
  bottom: 200px;
}

.arrov {
  width: 52px;
}

.img {
  max-width: 996px;
}
