//=======ОБНУЛЕНИЕ========================================================

@import "normalize.scss";

//=======BODY==============================================================
body{
	font-family: 'Montserrat', sans-serif;
}

//=======HEADER============================================================
.wrapper {
	background-color: #E5E5E5;
	max-height: 100%;
	overflow: hidden;

}
.header {

}
.header-container {
	max-width: 1830px;
	min-width: 1380px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 27px;
}

//=ЛОГОТИП
.logo {

		&__img {
			width: 97px;
		}
}

//=НАВИГАЦИЯ
.nav {
	margin-left: -685px;
		&__menu {
			display: flex;
		}

		&__item {
			padding-left: 27px;
			padding-right: 27px;

			&:first-child {
				padding-left: 0px;
			}
			&:last-child {
				padding-right: 0px;
			}
		}
		&__link {
			font-size: 18px;
			color: #2B3541;
			line-height: 200%;
			border-bottom: 1px solid transparent;
			&:hover {
				border-bottom: 1px solid #2B3541;
				transition: 0.2s;
			}
		}
}

//=СОЦИАЛЬНЫЕ СЕТИ
.social {
	position: relative;
	
		&__link {
			padding-left: 0px;
			padding-right: 60px;
			
			&:first-child {
				padding-left: 0px;
			}
			&:last-child{
				padding-right: 44px;
				color: #2B3541;
			}
		}

		&__imeg {
			position: absolute;
			width: 30px;
			height: 30px;
			opacity: 0.8;
			&:hover {
				width: 38px;
				height: 38px;
				transition: 0.2s;
				opacity: 1;
			}
		}
}

//=======ONLINE TRAININGS=================================================

.main {
}
.content {
}
.online-container {
	max-width: 1325px;
	margin: 0 auto;
}

.online {

		&__row {
			display: flex;
		}
		&__body {
		}
		&__title {
			width: 676px;
			font-weight: 700;
			font-size: 48px;
			line-height: 125%;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #2B3541;
			margin-top: 220px;
			margin-left: 85px;
			position: relative;
			z-index: 4;
		}
		&__subtitle {
			font-size: 40px;
			line-height: 125%;
			color: #2B3541;
			margin-top: 46px;
			margin-left: 84px;
		}
		&__span {
			display: inline-block;
			margin-left: 10px;
			font-size: 40px;
			line-height: 125%;
			color: #2B3541;
			position: relative;
			z-index: 4;
		}
		&__description {
			width: 466px;
			font-size: 18px;
			line-height: 150%;
			color: #2B3541;
			padding-top: 20px;
			padding-left: 175px;
			position: relative;
			z-index: 4;
		}
		&__button {
			height: 64px;
			width: 253px;
			font-size: 16px;
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #2B3541;
			margin-top: 35px;
			margin-left: 175px;
			background-color: #FBF138;
			position: relative;
			z-index: 4;
			display: inline-block;
			border-radius: 10px;
			padding: 20px 30px;
			transition: 0.2s;
		}
		&__button:active{
			background-color: #2B3541;
			box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
			color: #FBF138;
		}
		&__arrow {
			margin-top: 182px;
			padding-left: 174px;
		}
		&__image {
			margin-top: -3px;
			margin-left: -345px;
			bottom: 200px;
		}
}

.arrov {
	width: 52px;
}
.img {
	max-width: 996px;
}

//=======SECTION EVENT=================================================


.section-event {
}
.content {
}
.event-container {
	max-width: 1143px;
	max-height: 690px;
	margin: 0 auto;
	position: relative;
}
.title {
	width: 463px;
	font-weight: 700;
	font-size: 40px;
	line-height: 125%;
	color: #2B3541;
}

.event {
		&__title {
			margin-top: 158px;
		}
		&__body {
		}
		&__row {
		}
		&__columns {
			display: flex;
			padding-top: 41px;
		}
}

.item-event:last-child {
	margin-right: 0;
}
.item-event {
	position: relative;
	max-width: 367px;
	margin-right: 20px;
		&__number {
			position: absolute;
			font-weight: 700;
			font-size: 18px;
			line-height: 150%;
			color: #2B3541;
			opacity: 0.6;
			top: 32px;
			left: 30px;
			z-index: 4;
		}

		&__subtitle {
			position: absolute;
			width: 260px;
			font-weight: 700;
			font-size: 28px;
			line-height: 125%;
			color: #2B3541;
			top: 78px;
			left: 30px;
			z-index: 4;
		}
		&__label {
			position: absolute;
			font-size: 18px;
			line-height: 150%;
			text-align: center;
			color: #2B3541;
			padding: 10px 20px;
			width: 126px;
			height: 45px;
			background: #FBF138;
			top: 555px;
			left: 241px;
			z-index: 4;
		}
		&__btn {
			position: relative;
			display: block;
			width: 367px;
			height: 600px;
			overflow: hidden;
		}
		&__btn:hover &__button {
			opacity: 1;
			transition: 0.2s;
		}
		&__button {
			position: absolute;
			width: 221px;
			height: 64px;
			font-weight: 700;
			font-size: 16px;
			line-height: 150%;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #FBF138;
			background-color: #2B3541;
			box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
			padding: 20px 30px;
			border-radius: 10px;
			top: 182px;
			left: 30px;
			opacity: 0;
		}
}


//=======SECTION-SCHEDULE=================================================

.section-schedule {
}
.schedule {
}
.schedule-container {
	max-width: 1143px;
	min-width: 1143px;
	height: 941px;
	margin: 0 auto;
	margin-top: 163px;
}
.schedule-row {
	display: flex;
	justify-content: space-between;
}
.title {
}
.number {
	position: relative;
	font-weight: 700;
	font-size: 28px;
	line-height: 125%;
	color: #2B3541;
	top: 13px;
}
.schedule-body {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	height: 900px;
	padding-top: 38px;
}
.body {
	position: relative;
	border: 1px solid rgba(43,53,65,0.5);
	height: 250px;
}
.bottle {
	position: relative;
	border: 1px solid rgba(43,53,65,0.5);
	height: 402px;
}
.dumbbell {
	position: relative;
	border: 1px solid rgba(43,53,65,0.5);
	height: 309px;
}
.jump {
	position: relative;
	top: 172px;
	height: 433px;
	top: -155px;
	background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
	opacity: 0.7;
	box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}
.heart {
	position: relative;
	border: 1px solid rgba(43,53,65,0.5);
	height: 281px;
	top: -4px;
}
.weight {
	position: relative;
	border: 1px solid rgba(43,53,65,0.5);
	height: 374px;
	top: -97px;
}

.schedule-item {
	position: relative;
	min-width: 367px;
		&__data {
			position: relative;
			text-align: end;
			font-size: 18px;
			line-height: 150%;
			color: #010101;
			opacity: 0.7;
			top: 20px;
			right: 30px;
		}

		&__icon {
			width: 65px;
			height: 65px;
			z-index: 8;
				&_icon1 {
					position: relative;
					top: 74px;
					left: 30px;
				}
				&_icon2 {
					position: relative;
					top: 206px;
					left: 30px;
				}
				&_icon3 {
					position: relative;
					top: 148px;
					left: 30px;
				}
				&_icon4 {
					position: relative;
					top: 112px;
					left: 30px;
				}
				&_icon5 {
					position: relative;
					top: 108px;
					left: 30px;
				}
				&_icon6 {
					position: relative;
					top: 196px;
					left: 30px;
				}
		}

		&__content {
			position: absolute;
			font-weight: bold;
			font-size: 18px;
			line-height: 125%;
			color: #2B3541;
			bottom: 19px;
			left: 30px;
		}
}




.schedule-item {

}



